{% extends "account/base.html" %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %} | Reread{% endblock %}

{% block content %}

<section id="post">
  <article class="post account">
    <h1 class="post_title">{% trans "Log In" %}</h1>
    {% if socialaccount.providers  %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{site_name}} account and sign in below:{% endblocktrans %}</p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans 'or' %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}

    <div class="date"><span>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}<br><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></span></div>
    {% endif %}

    <form class="account-form login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="main-button primaryAction" type="submit">{% trans "Log In" %}</button>
    </form>
  </article>
</section>

{% endblock %}
