@charset 'utf-8';

.new-rrs h2 {
    text-align: center !important;
}

.new-rrs-form {
    margin-top: 1em;
}

.new-rrs-form p {
    margin-bottom: 0.3em;
}

.new-rrs-form p label {
    display: none;
}

.new-rrs-form p input {
    margin: 0 auto;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.new-rrs-form button {
    margin-top: 0.5em !important;
    margin: 0 auto;
    display: block;
}

#start-reading {
    text-align: center;
}