{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 8]>
<html class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if ! lt IE 8 ]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <title>{% block head_title %}Reread{% endblock %}</title>

  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic,500,500italic' rel='stylesheet' type='text/css'>

  {% compress css %}
  <link rel="stylesheet" href="{% static 'reader/css/normalize.css' %}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/clearfix.css' %}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/core.css' %}" type="text/css" charset="utf-8">

  <link rel="stylesheet" href="{% static 'reader/css/layouts/header.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/layouts/footer.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/layouts/article.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/layouts/blog.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/layouts/clients.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/layouts/products.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/layouts/arrow-nav.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/components/button.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/override.css' %}"
        type="text/css" charset="utf-8">

  <link rel="stylesheet" href="{% static 'reader/css/media/ipad.scss' %}" type="text/scss" charset="utf-8">
  <link rel="stylesheet" href="{% static 'reader/css/media/iphone.scss' %}" type="text/scss" charset="utf-8">

  <link rel="stylesheet" href="{% static 'reader/vendor/font-awesome-4.2.0/css/font-awesome.min.css' %}" type="text/css" charset="utf-8">
  {% endcompress %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block extra_head %}
  {% endblock %}
</head>
<body>
  {% block body %}

  {% block outer_content %}
  <article id="content">
    <header>
      <a id="logo" href="/"><img src="{% static 'reader/img/logo.png' %}"></a>
    </header>
    {% if messages %}
    <section class="messages">
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
    {% block content %} {% endblock %}
    <footer>
      <nav>
        <a href="/">Home</a>&nbsp;|&nbsp;<a href="/about">About Us</a>&nbsp;|&nbsp;<a href="http://blog.reread.io">Blog</a>
      </nav>
      <span>&copy;&nbsp;2016 Wei Tang, a project of <a href="https://id.hn">The Identity</a>.</span>
    </footer>
  </article><!-- end of #content -->
  {% endblock %}

  <nav class="arrow_nav right top">
    {% block arrow_topright %}{% endblock %}
  </nav>

  {% compress js %}
  <script type='text/javascript' src='{% static 'reader/js/jquery.min.js' %}'></script>
  <script type='text/javascript' src='{% static 'reader/js/jquery.scroll.js' %}'></script>
  <script type='text/javascript' src='{% static 'reader/js/bubble.js' %}'></script>
  <script type='text/javascript' src='{% static 'reader/js/jquery.validate.min.js' %}'></script>
  <script type='text/javascript' src='{% static 'reader/js/main-1.1.js' %}'></script>
  <script type='text/javascript' src='{% static 'reader/js/jquery.fitvids.js' %}'></script>
  <script type='text/javascript' src='{% static 'reader/js/post.js' %}'></script>
  {% endcompress %}
  {% block extra_body %}{% endblock %}
  {% endblock %}

  <!-- Piwik -->
  <script type="text/javascript">
   var _paq = _paq || [];
   _paq.push(['trackPageView']);
   _paq.push(['enableLinkTracking']);
   (function() {
       var u="//piwik.beyond.codes/";
       _paq.push(['setTrackerUrl', u+'piwik.php']);
       _paq.push(['setSiteId', 11]);
       var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
       g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
   })();
  </script>
  <noscript><p><img src="//piwik.beyond.codes/piwik.php?idsite=11" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->

</body>
</html>
