.content-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

body {
    height: 100vh;
    max-height: 100vh;
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
}